/**
 * Hero section styles
 */

.hero {
	text-align: center;
	height: 100%;
	background-color: $darkgray;
	color: $yellow;

	.container {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		> .row {
			padding-top: 40px;
		}
	}

	h1 {
		font-size: $hero-h1-size;
		text-transform: uppercase;
	}
}

/**
 * Main nav styles
 */

header {
	padding: 0 50px;

	nav {
		height: 100px;
		padding: 24px 0;
		position: relative;

		.logo {
			font-weight: $bold;
			font-size: $logo-text-size;
		}

		.hamburger {
			position: absolute;
			right: 0;
			top: 24px;
		}
	}
}

/**
 * Section generic styles
 */

.section-heading {
	margin-right: 150px;
	text-align: right;
	position: relative;
	color: $yellow;

	&:after {
		display: block;
		content: '';
		position: absolute;
		height: 100%;
		right: -25px;
		top: -7px;
		width: 8px;
		background-color: $yellow;
	}

	h1 {
		margin: 0;
		font-size: $section-h1-size;
	}
}

.section-highlight {
	color: $yellow;
	font-size: $section-highlight-size;
}

.about-sldc, .about-asme, footer, .competitions {
		.container > .row:first-child {
			margin: 150px 0 100px;
		}
}


/**
 * About SLDC
 */

.about-sldc {
	@extend %gray-box;

	h2 {
		font-size: 1em;
		color: $yellow;
	}

	ul {
		margin-top: 20px;
	}

	.register-row {
		margin-top: 50px;
	}
}

/**
 * Competitions
 */

.competitions {
	$darkerlgray: darken($lightgray, 10%);
	.panel {
		border: 1px solid $darkerlgray;
		box-shadow: 0 2px 1px transparentize($darkerlgray, 0.3);
	}
	.panel-heading {
		button {
			float: right;
		}
		h3 {
			display: inline-block;
			font-size: 1.6em;
		}
	}
}

/**
 * About ASME
 */

.about-asme {
	@extend %gray-box;
}


/**
 * FAQ
 */

.faq {
	position: relative;

	p {
		text-align: center;
		padding: 50px 0;
		font-size: 1.3em;
	}

	dt {
		font-weight: $bold;
		text-transform: uppercase;
		position: relative;

		&:before {
			content: counter(my-counter, decimal) ".";
			position: absolute;
			left: -2em;
			top: 0;
			line-style-type: decimal;
			counter-increment: my-counter;
		}
	}

	dd {
		margin-bottom: 30px;
	}
}


/**
 * Footer
 */

footer {
	background-color: $darkgray;
	color: $white;

	small {
		font-size: 0.7em;
	}

	.credits {
		padding-bottom: 20px;
	}

	.to-top {
		text-transform: uppercase;
		text-align: right;
		padding-right: 40px;
	}

	.copyright {
		padding-left: 40px;
	}
}
