/**
 * Footer
 */

footer {
	background-color: $darkgray;
	color: $white;

	small {
		font-size: 0.8em;
	}

	.credits {
		padding-bottom: 20px;
	}

	.to-top {
		text-transform: uppercase;
		text-align: right;
		padding-right: 40px;
		cursor: pointer;

		.fa {
			display: inline-block;
			position: relative;
			top: -0.04em;
		}
	}

	.copyright {
		color: $yellow;
		padding-left: 40px;
		@media (max-width: $break-sm) {
			padding-left: 20px;
		}
	}

	.form-sub {
		margin-top: 20px;
	}
}

footer .form-sub {
	input {
		margin-top: 10px;
	}

	input[type="text"],
	input[type="email"] {
		background-color: $darkgray;
		border: 1px solid $yellow;
		border-radius: 3px;
		font-size: 1.3em;
		min-width: 350px;
		display: inline-block;
		padding: 0.4em 0.6em;
		transition: 0.3s border-left ease;
	}

	input[type="text"]:focus,
	input[type="email"]:focus {
		outline: none;
		border-left: 10px solid $yellow;
	}

	.cs-button {
		margin-top: 20px;
	}
}
